.header-nav {
  transition: all 0.5s ease;
}

.header-nav.transparent {
  background: transparent;
  transition: all 0.5s ease;
  max-height: fit-content;
}

.header-nav .navbar-toggler {
  border-color: #fff;
  margin-right: 10px;
  transition: all 0.5s ease;
}

.header-nav .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem 20px !important;
  transition: all 0.5s ease;
}

.header-nav.transparent .nav-link {
  color: white !important;
}

.header-nav.brand-name,
.profile-nav.brand-name {
  padding: 1.5rem 0;
  transition: all 0.5s ease;
}

.header-nav.transparent .nav-link:hover,
.header-nav.transparent .nav-link:focus {
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}

@media only screen and (min-width: 1200px) {
  img#main-logo {
    width: auto;
    height: 65px;
    padding: 0px 5px 5px 0;
  }
  .header-nav.transparent.sticky,.header-nav.light.sticky{
    padding: 10px;
  }
}

@media only screen and (max-width: 1200px) {
  img#main-logo {
    width: auto;
    height: 65px;
  }
  .header-nav.transparent{
    background-color: rgba(21, 21, 21, 1);
  }
}

.header-nav.transparent.sticky {
  background-color: rgba(21, 21, 21, 1) !important;
  transition: all 0.5s ease;
  padding: 0px;
}

.header-nav.sticky a {
  transition: all 0.5s ease-in;
  padding-top: 7px;
  padding-bottom: 7px;
}

.header-nav.transparent.sticky .nav-link:hover,
.header-nav.transparent.sticky .nav-link:focus {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(21, 21, 21, 1) !important;
  transition: all 0.5s ease;
}

/*white navbar*/

.header-nav.light {
  background: white !important;
  transition: all 0.5s ease;
  max-height: fit-content;
}

.header-nav.light.sticky {
  background-color: white !important;
  transition: all 0.5s ease;
  padding: 0px;
}

.header-nav.light .nav-link {
  color: rgba(21, 21, 21, 1) !important;
  transition: all 0.5s ease-in;
  padding-top: 7px;
  padding-bottom: 7px;
}


.header-nav.light .nav-link:hover,
.header-nav.light .nav-link:focus {
  background-color: rgba(21, 21, 21, 1) !important;
  color: white !important;
  transition: all 0.5s ease;
}
